{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tableau de Bord Médecin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/medecin_dashboard.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <script src="{% static 'js/diagno.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>{% block header %}GESTIONNAIRE DE CARNET{% endblock %}</h1>
        </header>
        <nav>
            <br><br><br><br><br> <a href="{% url 'medecin_dashboard' %}">Tableau de Bord</a><br>
           <a href=" {% url 'consultations en attente' %}"> Consultations en attente
            {% if nombre_consultations_en_attente > 0 %}
                ({{ nombre_consultations_en_attente }})
            {% endif %}</a><br><br><br><br><br><br><br><br><br>
           <a href= "{% url 'rechercher_patient'%}">rechercher un dossier</a><br>
           <a href=" {% url 'liste_consultation' %}"> liste de mes consultations</a><br>
           <a href="{% url 'logout' %}">Se Déconnecter</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
