{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/medecin_dashboard.css' %}">
    <title>Ordonnance</title>
</head>
<body>
<form><div class="container">
        {% if alert %}
            <div class="alert">
                {{ alert }}
            </div>
        {% endif %}

        <div class="section" style="margin-left: 50px;">
            <h2>Ordonnance du <span style="color: blue;">{{consultation.date_consultation }}</span></h2>
            {% for d in diagnostiques %}
                <h4>{{d.maladie}}</h4>
                <ul>  
                    <li>Nom: {{d.maladie.medicament.nom_medicament}}</li>
                    <li>Forme: {{d.maladie.medicament.forme}}</li>
                    <li>Dosage: {{d.maladie.medicament.dosage}}</li>
                    <li>Posologie: {{d.maladie.medicament.posologie}}</li>
                </ul>
            {% endfor %}
        </div>

        <div class="section">
            <h2></h2>
            {% for diagnostic in diagnostics %}
                <div class="diagnostic">
                    
                    <h3>MEDICAMENTS :</h3>
                    {% for medicament in medicaments %}
                        <div class="traitement">
                            <h3>Médicament: {{ traitement.medicament }}</h3>
                            <p><strong>Durée:</strong> {{ traitement.duree }} jours</p>
                            <p><strong>Posologie:</strong> {{ traitement.posologie }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
    <button class="btn btn-primary" onclick="window.print()">Imprimer</button>
    <a href=" {% url 'consultations en attente' %}"> Consultations en attente</a><br>
</form>
</body>
</html>