{% extends 'base_medecin.html' %}

{% block title %}Tableau de Bord Médecin{% endblock %}

{% block header %} identification du patient  {% endblock %}

{% block content %}

{% if patient %}
    <div>
        <h1>Informations personnelles</h1><br>
        <p>Nom: {{ patient.nom }}</p>
        <p>Prénom: {{ patient.prenom }}</p>
        <p>Date de naissance: {{ patient.date_naissance }}</p>
        <p>sexe: {{ patient.genre }}</p>
        <p>Groupe sanguin: {{ patient.groupe_sanguin }}</p>
        <p>adresse: {{ patient.adresse }}</p>
        <p>telephone: {{ patient.telephone }}</p><br><br>
        <a href="{% url 'voir_carnet' patient.id %}">Voir Carnet complet</a>
    </div>
    
    

    <h2 class="carnet"> constante</h2><p>date de creation: {{ constante_actuelle.date }}</p>
    <table>
        
        <tr>
            <td>masse</td>
            <td>{{ constante_actuelle.masse }} kg</td>
        </tr>
        <tr>
            <td>temperature</td>
            <td>{{ constante_actuelle.temperature }} °C</td>
        </tr>
        <tr>
            <td>pouls</td>
            <td>{{ constante_actuelle.pouls }} bpm</td>
        </tr>
        <tr>
            <td>tension systolique</td>
            <td>{{ constante_actuelle.tension_systolique }} mmHg</td>
        </tr>
        <tr>
            <td>tension diastolique</td>
            <td>{{ constante_actuelle.tension_diastolique }} mmHg</td>
        </tr>
       
        <tr>
            <td>antecedant medicaux</td>
            <td>{{ constante_actuelle.antecedents_medicaux }}</td>
        </tr>
        <tr>
            <td>allergies et intolerances</td>
            <td>{{ constante_actuelle.allergies_et_intolerance }}</td>
        </tr>
        <tr>
            <td>Fumeur</td>
            <td>{{ constante_actuelle.fumeur }}</td>
        </tr>
        <tr>
            <td>Boit Alcool</td>
            <td>{{ constante_actuelle.alcool }}</td>
        </tr>
       
    </table><br>
   

    
      

    
     
    </form>


    <!-- Ajoutez d'autres champs si nécessaire -->
   {% elif not patient and code_patient %}
  <p>Aucun patient trouvé avec ce code.</p>
{% endif %}




<style>
    
        .consul {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        
        .consul, th, td {
            border: 1px solid #ddd;
        }
        
        th, td {
            padding: 10px;
            text-align: left;
        }
        
        th {
            background-color: #333;
            color: white;
        }</style>
    

<script>
    function addForm(formsetPrefix, containerId) {
        const container = document.getElementById(containerId);
        const totalForms = document.getElementById('id_' + formsetPrefix + '-TOTAL_FORMS');
        const formNum = totalForms.value;
        const newForm = container.children[0].cloneNode(true);
        const formRegex = RegExp(formsetPrefix + '-\\d+', 'g');
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, formsetPrefix + '-' + formNum);
        container.appendChild(newForm);
        totalForms.value = parseInt(formNum) + 1;
    }

    function addDiagnosticForm() {
        addForm('diagnostic', 'diagnostic-forms');
    }

    function addTraitementForm() {
        addForm('traitement', 'traitement-forms');
    }
</script>
{% endblock %}