body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
    
    
   
}



nav {
       
    background: #333;
    padding: 20px;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed; /* Fixe la navigation sur le côté */
    
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    background: #444;
    text-align: center;
}

nav a:hover {
    background: #575757;
}

main {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}



/* Style pour les boutons */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}



/* Style pour les messages d'erreur */
.error-message {
    color: red;
    font-size: 14px;
}

/* Style pour les messages de succès */
.success-message {
    color: green;
    font-size: 14px;
}
/* infirmier_dashboard.css */
form {
    background: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 500px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background: #0056b3;
}
